footer {
    background-color: var(--primary-bg-color); /* Customize background color */
    color: var(--primary-text-color); /* Customize text color */
    padding: 30px;
    text-align: center;
    width: 100%;               /* Full width */
    position: fixed;           /* Sticks footer to bottom of viewport */
    position: relative; /* Ensure normal document flow */
    clear: both; /* Clears floats above */
    /* bottom: 0;                 */
    /* left: 0;                    */
    /* display: flex; */
    /* justify-content: flex-end; */
    font-family: "Montserrat", sans-serif;

}

footer h3 {
    font-size: 1.5em;
    font-weight: 600;
    /* margin-bottom: 30px; */
    color: var(--primary-text-color-text-color);
}
.socials-section {
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 00px;
    /* min-width: 40px; */
    max-width: 430px;
    /* margin:0; */
    
}

.footer-section {
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 00px; */
    /* min-width: 40px; */
    /* margin:0; */
    padding-right: 05%;
}

img {
    /* filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 255, 255));
     */
    /* filter: invert(100%); */
    filter: var(--image-filter);
}

.about-section {
    /* flex: 1; */
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    gap: 00px;
    max-width: 550px;
    padding-left: 05%;
    padding-right: 05%;
    /* margin:0; */
}

.social-icons-container {
    display: flex;
    gap: 0px;
    align-items: center;
}

body {
    margin: 0;
    padding: 0 0 0px 0; /* Add padding-bottom to avoid content being hidden behind the footer */
    box-sizing: border-box;
}

footer p {
    /* font-size: 16px; */
    margin: 0;
}

.icon-style {
    height:40px;
    margin-left:20px;
    margin-top:5px;
  }
  
.icon-style:hover {
    transform: scale(1.5);
    /* filter: invert(0%); */

    /* background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px; */
}
