/* --- Projects Styling Document --- */


.projects {
    color: var(--secondary-text-color) !important; 
    background-color: var(--primary-text-color); 
    font-family: "Montserrat", sans-serif ;
}


.projects h2 {
    font-weight: 400 !important; /* Ensure font-weight is applied */
    font-size: 2em;
    text-align: left;
    margin-left: 5vw;
}

.box {
    width: 25rem;       
    height: 16rem;       
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);      
    display: flex; 
    flex-direction: column;

    border: 2px solid var(--secondary-text-color); 
    border-radius: 10px;   
    /* box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1); Box shadow */
    margin: 1rem;           
}

.box h3{
    font-size: 2em;       /* Font size */
    font-weight: 400;       /* Font weight */
    margin: 1rem;
    /* align-items: center; */
}

.box p{
    font-size: 1em;       /* Font size */
    font-weight: 400;       /* Font weight */
    flex-grow: 1;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.box:hover {
    transform: scale(1.05); /* Scale the box on hover */
    transition: transform 0.6s ease-in-out; /* Smooth transition */
}

.projects-container {
    display: flex;          /* Use flexbox */
    flex-direction: row;    /* Align items horizontally */
    align-items: center;    /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    flex-wrap: wrap;        /* Wrap items to the next line if needed */
}

a {
    color: var(--primary-text-color);
    text-decoration: none; /* Remove underline */
  }
  
  /* Hover state */
  a:hover {
    color: var(--primary-text-color);
    text-decoration: underline; /* Add underline */
  }