/* --- Who Styling Document --- */


.who {
    color: var(--secondary-text-color) !important; 
    background-color: var(--primary-text-color); 
    font-family: "Montserrat", sans-serif ;
}


.who h2 {
    font-weight: 400;
    font-size: 5em;
    text-align: left;
    margin: 0;
    margin-top: 5rem;
    margin-left: 15vw;
    
}

.who p {
    font-weight: 400;
    /* font-size: 2em; */
    text-align: left;
    margin-left: 15vw;
    margin-bottom: 8rem;
}


a {
    color: var(--primary-text-color);
    text-decoration: none; /* Remove underline */
  }
  
/* Hover state */
a:hover {
    color: var(--primary-text-color);
    text-decoration: underline; /* Add underline */
}